<div class="overflow-y-auto">
	<table class="w-full text-neutral-400">
		<thead class="bg-neutral-600">
			<th>#</th>
			<th>NAME</th>
			<th>START</th>
			<th>END</th>
			<th>TOTAL KM</th>
			<th>STATUS</th>
		</thead>
		<tbody class="bg-neutral-700">
			<!-- El track se usa para tener un control del renderizado sobre los elementos más efectivo -->
			@for (goal of goals(); track goal.id; let index = $index) {
				<tr>
					<td>{{ $index }}</td>
					<td>
						<a [routerLink]="goal.id">{{ goal.title }}</a>
					</td>
					<td>{{ goal.startDate | timestampToDate }}</td>
					<td>{{ goal.endDate | timestampToDate }}</td>
					<td>{{ goal.km }}</td>
					<td class="flex items-center">
						<span [ngClass]="['flex w-3 h-3 me-3 bg-green-500 rounded-full', goal.complete ? 'bg-green-500' : 'bg-yellow-600']"></span> 
						{{ goal.complete ? 'Completed' : 'In Progress' }}

						<!-- @if (goal.complete) {
							<span class="flex w-3 h-3 me-3 bg-green-500 rounded-full"></span> Completed
						} @else {
							<span class="flex w-3 h-3 me-3 bg-yellow-600 rounded-full"></span>In Progress
						} -->
					</td>
				</tr>
			} @empty {
				<tr>
					<td colspan="6" class="text-neutral-500 font-bold !text-center">No goals yet</td>
				</tr>
			}
		</tbody>
	</table>
</div>