<div class="overflow-x-auto">
	<table class="w-full text-neutral-300">
		<thead class="bg-neutral-600">
			<th>#</th>
			<th>NAME</th>
			<th>START</th>
			<th>END</th>
			<th>TOTAL KM</th>
			<th>STATUS</th>
		</thead>
		<tbody class="bg-neutral-700">
			<!-- El track se usa para tener un control del renderizado sobre los elementos más efectivo -->
			@for (goal of goals(); track goal.id) {
				<tr>
					<td>{{ goal.id }}</td>
					<td>{{ goal.title }}</td>
					<td>{{ goal.startDate }}</td>
					<td>{{ goal.endDate }}</td>
					<td>{{ goal.goalKm }}</td>
					<td>{{ goal.complete ? 'Completed' : 'In Progress' }}</td>
				</tr>
			} @empty {
				<tr>
					<td colspan="6" class="text-neutral-500 font-bold !text-center">No goals yet</td>
				</tr>
			}
		</tbody>
	</table>
</div>