<div class="overflow-x-auto">
	<table class="w-full text-neutral-300">
		<thead class="bg-neutral-600">
			<th>#</th>
			<th>NAME</th>
			<th>START</th>
			<th>END</th>
			<th>TOTAL KM</th>
			<th>STATUS</th>
		</thead>
		<tbody class="bg-neutral-700">
			<tr>
				<td>1</td>
				<td>2400KM</td>
				<td>01/01/2024</td>
				<td>31/12/2024</td>
				<td>1901</td>
				<td>In Progress</td>
			</tr>
			<tr>
				<td>1</td>
				<td>2400KM</td>
				<td>01/01/2024</td>
				<td>31/12/2024</td>
				<td>1901</td>
				<td>In Progress</td>
			</tr>
			<tr>
				<td>1</td>
				<td>2400KM</td>
				<td>01/01/2024</td>
				<td>31/12/2024</td>
				<td>1901</td>
				<td>In Progress</td>
			</tr>
		</tbody>
	</table>
</div>