rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {    
    match /goals/{goalId} {
      allow read, write: if request.auth != null && resource.data.userId == request.auth.uid;
    }
    
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2024, 11, 3);
    }
  }
}