<div class="flex items-center gap-4 max-[400px]:flex-col max-[400px]:items-start">
	<div>
		<small class="text-neutral-400">Start Date</small>
		<p>{{ goal().startDate | timestampToDate }}</p>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg"
		class="icon icon-tabler icon-tabler-arrow-badge-right-filled max-[400px]:hidden" width="32" height="32"
		viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
		stroke-linejoin="round">
		<path stroke="none" d="M0 0h24v24H0z" fill="none" />
		<path
			d="M7 6l-.112 .006a1 1 0 0 0 -.669 1.619l3.501 4.375l-3.5 4.375a1 1 0 0 0 .78 1.625h6a1 1 0 0 0 .78 -.375l4 -5a1 1 0 0 0 0 -1.25l-4 -5a1 1 0 0 0 -.78 -.375h-6z"
			stroke-width="0" fill="currentColor" />
	</svg>
	<div>
		<small class="text-neutral-400">End Date</small>
		<p>{{ goal().endDate | timestampToDate }}</p>
	</div>
</div>