<header [ngClass]="[
        isSmallScreen() ? 'absolute top-0 z-50' : 'relative',
        'w-full h-auto p-3 flex items-center bg-neutral-900'
      ]">
	<nav class="w-full flex items-center gap-4">
		<button [ngClass]="[isSmallScreen() ? '' : 'hidden']" (click)="switchMenuStatus()">
			<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M1 1h15M1 7h15M1 13h15" />
			</svg>
		</button>

		<a routerLink="/home"
			[ngClass]="[isSmallScreen() ? 'text-lg' : 'text-xl', 'font-extrabold italic hover:text-green-600']"
			(click)="handleClick(true)">RUNNING GOALS TRACKER</a>
		<div [ngClass]="[
            isSmallScreen()
              ? 'mobile-styles'
              : 'flex-row grow items-center gap-4 [&>a:hover]:text-green-600',
            isMenuOpen ? 'flex' : 'hidden',
            'flex [&>a]:font-medium [&>a]:italic'
          ]">
			<!-- <span [ngClass]="isSmallScreen() ? 'hidden' : ''">|</span> -->
			<a routerLink="goals" (click)="handleClick()">GOAL LIST</a>
			<a routerLink="/new-goal" (click)="handleClick()">NEW GOAL</a>
			<!-- <p
          class="max-sm:hidden mr-0 ml-auto bg-blue-600 p-2 py-1 text-xs rounded-full"
        >
          {{ currentUser }}
        </p> -->
			<button [ngClass]="[
              isSmallScreen()
                ? 'uppercase italic font-bold text-green-400 hover:text-white'
                : 'ml-auto mr-0 py-1.5 px-4 bg-green-600 hover:bg-green-700 text-sm rounded-md',
              'w-fit'
            ]" (click)="logout()">
				Logout
			</button>
		</div>
	</nav>
</header>