<div class="max-w-[350px] mx-auto my-0 flex flex-col p-10 bg-neutral-700 border border-solid border-neutral-700 rounded-xl">
	<h1 class="text-xl font-bold mb-2 text-center">Create an account</h1>
	<form class="flex flex-col gap-4" [formGroup]="signUpForm" (ngSubmit)="signup()">
		<div class="flex flex-col">
			<label for="email" class="pl-0.5 text-sm font-medium mb-1">Your email</label>
			<input
				class="p-2 bg-neutral-600 border border-neutral-700 rounded-md hover:bg-neutral-800 focus:bg-neutral-800 focus:ring-green-400 focus:border-green-400"
				type="text" id="email" placeholder="example@domain.com" formControlName="email" required>
			<small *ngIf="isRequired('email')" class="mt-1 pl-0.5 text-xs text-red-500">Required</small>
			<small *ngIf="hasEmailError()" class="mt-1 pl-0.5 text-xs text-red-500">Invalid email format</small>
		</div>

		<div class="flex flex-col">
			<label for="password" class="pl-0.5 text-sm font-medium mb-1">Password</label>
			<input
				class="p-2 bg-neutral-600 border border-neutral-700 rounded-md hover:bg-neutral-800 focus:bg-neutral-800 focus:ring-green-400 focus:border-green-400"
				type="password" id="password" placeholder="●●●●●●●●●" formControlName="password" required>
			<small *ngIf="isRequired('password')" class="mt-1 pl-0.5 text-xs text-red-500">Required</small>
		</div>

		<button class="w-full py-2 text-sm font-semibold bg-green-600 hover:bg-green-700 rounded-md">Create an
			account</button>

		<p class="text-xs">
			Already have an account?
			<a class="text-green-600 hover:text-green-400 font-semibold" [routerLink]="['/auth/sign-in']">Login here</a>
		</p>
	</form>

</div>