@if (isLoading()) {
<p>Loading...</p>
} @else {
<section>
    <div>
        <h1 class="text-2xl font-semibold">Welcome back <span class="max-xs:text-lg">{{ userEmail }}</span>! 👋🏻</h1>
        <p>Here is your goals summary</p>
    </div>
</section>
<section class="w-full flex [&>*]:basis-[calc(33.33%-1rem)] [&>*]:flex-grow gap-4 flex-wrap">
    @if (goals().length === 0) {
    <div class="flex flex-col justify-center items-center">
        <p class="text-7xl font-extrabold">0</p>
        <p>Registered</p>
    </div>
    } @else {
    <div class="flex flex-col justify-center items-center">
        <p class="text-7xl font-extrabold">{{ goals().length }}</p>
        <p>Registered</p>
    </div>
    }
    <div class="flex flex-col justify-center items-center">
        <!-- @if((goals() | filterGoals: 'complete': true).length === 0) { -->
        <!-- <p class="text-7xl font-extrabold">0</p> -->
        <!-- } @else { -->
        <p class="text-7xl font-extrabold">{{ (goals() | filterGoals: 'complete': true).length }}</p>
        <!-- } -->
        <p>Completed</p>
    </div>

    <div class="flex flex-col justify-center items-center">
        <!-- @if((goals() | filterGoals: 'complete': false).length === 0) { -->
        <!-- <p class="text-7xl font-extrabold">0</p> -->
        <!-- } @else { -->
        <p class="text-7xl font-extrabold">{{ (goals() | filterGoals: 'complete': false).length }}</p>
        <!-- } -->
        <p>To achieve</p>
    </div>
    <div class="flex flex-col justify-center items-center">
        <!-- @if((goals() | filterGoals: 'complete': false).length === 0) { -->
        <!-- <p class="text-7xl font-extrabold">0</p> -->
        <!-- } @else { -->
        <p class="text-7xl font-extrabold max-sm:text-2xl">{{ goals() | reduce: 'km' }}</p>
        <!-- } -->
        <p>Total KM</p>
    </div>
</section>
}

<section class="actions flex gap-4 max-xs:flex-col">
    <a class="bg-green-600 hover:bg-green-700" routerLink="/new-goal">NEW GOAL</a>
    <a class="bg-blue-600 hover:bg-blue-700" routerLink="/goals">GOALS LIST</a>
</section>