@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	color-scheme: dark;
}

body {
	font-family: 'Inter', sans-serif;
	color: aliceblue;

	@apply
		bg-neutral-800
		flex
		w-full
		h-dvh
}